* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  background: rgba(200, 207, 218, 1);
  background: linear-gradient(
    -45deg,
    rgba(200, 207, 218, 1) 0%,
    rgba(200, 207, 218, 1) 4%,
    rgba(214, 221, 230, 1) 46%,
    rgba(233, 236, 244, 1) 86%,
    rgba(233, 236, 244, 1) 100%
  );
  /* position: relative; */
}

#navbar {
  position: fixed;
  top: 0;
  left: 10px;
  height: 0;
  width: auto;
  height: 100%;
}

#navbar header {
  left: 0;
  right: 0;
  position: absolute;
  top: 2;
  left: 0;
  width: 100vw;
  text-align: right;
  color: slategrey;
  letter-spacing: 0.1;
  transition: all ease-in-out 1s;
}
#navbar header h1 {
  display: inline-block;
  padding: 0.65em 0.8em;
  background-color: #010101a5;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

#hamburger {
  display: none;
  background-color: #010101a5;
  width: 2.8em;
  position: absolute;
  /* top: 5.4em; */
  border-radius: 50%;
  cursor: pointer;
  padding: 1px 0.8px;
  transition: all ease-in-out 1s;
}
.line_hamburger {
  display: block;
  margin: 9px 6px;
  height: 3px;
  background-color: #fff;
}
#close {
  display: none;
  position: absolute;
  top: 0;
  width: 1.4em;
  text-align: center;
  font-family: Tahoma;
  font-size: 28px;
  font-weight: 100;
  color: white;
  background-color: #010101a5;
  border-radius: 50%;
  cursor: pointer;
  padding: 7px 5px;
  transition: all ease 1s;
}

#navbar ul {
  overflow-y: scroll;
  list-style: none;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  padding-right: 0.6em;
  max-height: calc(100vh - 8.5rem);
  overflow-y: auto;
  scrollbar-width: thin;
  transition: margin ease 1.52s;
}
#navbar ul li {
  width: 100%;
  cursor: pointer;
}
.nav-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #323232;
  padding: 1.2rem 0 1.2rem 1.5rem;
  font-size: 16px;
  /* transition: ease 3s; */
}
.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  top: 10px;
  background-color: #383939;
}
.nav-link:hover {
  padding-left: 1.2em;
}
.nav-link:hover:after {
  height: 2px;
}

.current {
  color: #fff1ff;
  cursor: default;
  background-color: #010101e5;
  color: #fff;
  border: 1px solid #4f4f4f91;
  border-radius: 1px;
}

/* **************** MAIN DOC SECTION *********************** */
#main-doc {
  margin: 50px 4% 0 15rem;
  height: auto;
  min-height: 70vh;
  width: 70%;
}
/* #Introduction {
  display: block;
} */
.main-section {
  display: none;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  /* border: 3px solid #010101d6; */
  border-radius: 10px;
  min-height: 70vh;
  padding: 3rem;
}
.main-section:target {
  display: block;
}
/* .main-section:target ~ #Introduction { */
/* display: none;
} */
/* ******************** Styling the content of the main section ******************** */

.main-section header {
  font-weight: 600;
  letter-spacing: 0.01em;
  font-size: 28px;
  /* width: 600px; */
  margin: 0 0 15px;
  text-align: center;
  /* padding: 1.2em; */
  color: #010101;
}
.iconify {
  float: right;
  cursor: pointer;
  color: #4f4f4f91;
  position: relative;
  padding: 4px;
  z-index: 0;
}
.main-section p,
.main-section li {
  text-indent: 14px;
  line-height: 30px;
  padding: 0.5em 1.5em 0.5em 0;
  color: #383939;
  /* max-width: 700px; */
  margin: 0 auto;
}
.main-section ul {
  margin-left: 4em;
}
.main-section ul li {
  padding: 0.5em 1em 0.2em 0.4em;
  list-style: lower-roman;
}
code {
  display: block;
  background-color: #f7f7f7;
  padding: 1px 15px;
  margin: 10px auto;
  border-radius: 5px;
  line-height: 30px;
  max-width: 600px;
  width: auto;
}
